<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="/style.css">
  <head>
    <meta charset="utf-8" />
    <title>Pokedex</title>
  </head>
  <body>
    <div id="header">
        <h1>Pokedex</h1>
        <button id="Add"><a href="/pokemon/new">Add A New Pokemon</a></button>
      </div>
        <div id="items">
        <% for (i = 0; i < pokedex.length; i++) { %>
        <h2><%=pokedex[i].name%></h2><br>
        <h2><%=pokedex[i].hp%></h2><br>
        <h2><%=pokedex[i].hp%></h2>
        <a href="/pokemon/<%=[i]%>"><img src="<%=pokedex[i].img%>"></a>
        <form action="/pokemon/<%=i %>?_method=DELETE" method="POST">
          <input type="submit" value="DELETE" />
        </form>
        <a href="/pokemon/<%= i %>/edit">Edit</a>
        <% } %>
    </div>
  </body>
</html>